<div class="container">
    <h2 class="mt-3 mb-3 text-center press-start-2p ">Common Directives</h2>
    <div *ngFor="let user of users" [ngClass]="'one two'">
        {{user.name}} is {{user.age}} years old.
    </div>
    <p class="source-code-pro text-justify">
        To bind CSS class to <b>NgClass</b>, just create a string and inside it you need to refer the CSS class names enclosed by single quote ('). 
    </p>
    <p [ngClass]="['one', 'two']">
        Using NgClass with Array.
    </p>
    <div *ngFor="let user of users" [ngClass]="['one', 'two']">
        {{user.name}} is {{user.age}} years old.
    </div>
    <p [ngClass]="{'one': true, 'three': false }">
        Using NgClass with Object.
    </p>
    <div *ngFor="let user of users; let i = index">
        <div [ngClass]="{'one': i%2==0, 'three':i%2==1}"> {{user}} </div>
    </div>
    <div *ngFor="let user of users; let flag = even;">
        <div [ngClass]="{'one':flag, 'two':flag, 'three':!flag, 'four':!flag}"> {{user}} </div>
    </div>
</div>