<table class="table table-hover">
    <thead class="thead-dark">
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Sales volume
        </th>
        <th>
            sales > 60000
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let tempSales of salesList">
            <td> {{ tempSales.firstName }}</td>
            <td> {{ tempSales.lastName }}</td>
            <td> {{ tempSales.email }}</td>
            <td class="source-code-pro"> {{ tempSales.salesVolume | currency: 'EUR' }}</td>
            <td>
                <div *ngIf="tempSales.salesVolume >= 60000; else elseDiv">
                    Yes
                </div>
                <ng-template #elseDiv>NO</ng-template>
            </td>
        </tr>
    </tbody>
</table>
<!--
    https://angular.io/api/common/CurrencyPipe use the ISO 4217 code to identify the currency (https://en.wikipedia.org/wiki/ISO_4217).
-->